body {
  margin: 0;
  font-family: sans-serif;
}

.editor {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.toolbar {
  width: 250px;
  background: #eeeeee;
}

.toolbar-item {
  padding: 15px;
}

.tool-label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: bold;
}

.tool-input {
  width: 100%;
}

.image-area {
  flex-grow: 1;
  padding: 20px;
  background: #555555;
}

#canvas {
  max-width: 100%;
  max-height: 100%;
}

.reset-btn {
  border: none;
  outline: none;
  padding: 10px 15px;
  border-radius: 10px;
  color: #000000;
  font-size: 1.05rem;
  cursor: pointer;
}
.reset-btn:hover{
  background-color: #dcd7d7;
}